
<div>
	<mat-card>
		<h1><b>Educational Information</b></h1><br>
				<b>SSC</b><br>
				June 2011 - March 2012<br>
				Jijamata Madhymic Vidhyalaya,Bhenda<br>
				Passed with 83.82<br>
			
			<br>
			
				<b>HSC</b><br>
				June 2013- February 2014<br>
				Jijamata Junior College,Bhenda<br>
				Passed with 63.85<br>
			
			<br>
			
				<b>BCS</b><br>
				June 2014 - May 2017<br>
				R.B.N.B College,Shrirampur<br>
				Passed with 75<br>
		
			<br>
			
				<b>MCA</b><br>
				June 2017 - May 2020<br>
				Computer Science Department ,Pune University<br>
				Appearing with 6.3<br>
		
		
	</mat-card>
</div>